<div>
  <h1>Phrase List</h1>
    <div class="phrases">
      <div class="phrase-table">
        <div class="phrase-header phrase-row">
          <div class="phrase-data">Korean</div>
          <div class="phrase-data">Romanization</div>
          <div class="phrase-data">English</div>
          <div class="phrase-data">Status</div>
        </div>
        <div class="phrase-row">
          <div class="phrase-data">안녕하새요</div>
          <div class="phrase-data">an-nyeong-ha-se-yo</div>
          <div class="phrase-data">Hello</div>
          <div class="phrase-data">Got it</div>
        </div>
        <div class="phrase-row">
          <div class="phrase-data">이것은 하드 코딩된 자료이다</div>
          <div class="phrase-data">i-jeot-eun ha-deu ko-ding-duin ja-lyo-i-da</div>
          <div class="phrase-data">This is hard-coded data</div>
          <div class="phrase-data">Almost</div>
        </div>
        <div class="phrase-row">
          <div class="phrase-data">최선을 다하겠습니다</div>
          <div class="phrase-data">choe-seon-eul da-ha-gaess-seum-ni-da</div>
          <div class="phrase-data">I will do my best.</div>
          <div class="phrase-data">Got it</div>
        </div>
      </div>
    </div>
</div>